sudo: required

language: ruby
rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3.0
env:
  global:
    - ADMIN_TOKEN=4f4a1434-8cb3-11e6-ae22-56b6b6499611
  matrix:
    - RUN_ON_LIVE_SERVER=1 \
      VCR_UPDATE=1 \
      SKIP_SSL_WITHOUT_CERTIFICATE_TEST=1 \
      SKIP_SECURE_CONTEXT=1 \
      SKIP_V8_METRICS=1 \
    - RUN_ON_LIVE_SERVER=0
services:
  - docker
before_install:
  - (test $RUN_ON_LIVE_SERVER = 1 && docker-compose up -d && ./.travis/wait_for_services.rb) || echo "Skipping live server"
# Lets wait a bit for the agent to load everything it needs.
before_script:
  - (test $RUN_ON_LIVE_SERVER = 1 && sleep 20s) || true