---
http_interactions:
- request:
    method: get
    uri: https://hawkular.torii.gva.redhat.com/hawkular/inventory/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - hawkular
      Content-Type:
      - application/json
      Authorization: 'Basic amRvZTpwYXNzd29yZA==

'
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>502
        Bad Gateway</h1></center>\r\n<hr><center>nginx/1.10.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 27 Mar 2017 12:39:38 GMT
recorded_with: VCR 3.0.3
